
.div {
    width: 770px;
    
}
.btn {
    width:100%;
    height: 40px;
    text-align: center;
    background-color: aquamarine;
}

.btn1 {
    background-color: aquamarine;
}

.tijelo{
    align-items: center;
    justify-content: center;
}